{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block content %}


    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Weeeee!</strong> naisse tu mit iu
    </div>

    <form>

        <div class="row">

            <div class="col-md-6">
                 <div class="row">
                    <div class="form-group form-group-sm col-md-3">
                        <label for="">Alias</label>
                        <input id="produto.alias" name="produto.alias" type="text" class="form-control">
                    </div>
                    <div class="form-group form-group-sm col-md-9">
                        <label for="">Descrição</label>
                        <input id="produto.descricao" name="produto.descricao" type="text" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-group-sm col-md-2">
                        <label for="">Valor Compra</label>
                        <input id="produto.alias" name="produto.alias" type="text" class="form-control">
                    </div>
                    <div class="form-group form-group-sm col-md-2">
                        <label for="">Valor Venda</label>
                        <input id="produto.descricao" name="produto.descricao" type="text" class="form-control">
                    </div>
                    <div class="form-group form-group-sm col-md-2">
                        <label for="">Peso Bruto</label>
                        <input id="produto.alias" name="produto.alias" type="text" class="form-control">
                    </div>
                    <div class="form-group form-group-sm col-md-2">
                        <label for="">Peso Líquido</label>
                        <input id="produto.descricao" name="produto.descricao" type="text" class="form-control">
                    </div>
                </div>
            </div>

        </div>





    </form>

    <!-- Contextual button for informational alert messages -->
    <a type="button" href="{% url 'cliente_inserir' %}" class="btn btn-info">Inserir</a>

    <!-- Indicates caution should be taken with this action -->
    <a type="button" href="{% url 'cliente_editar' %}" class="btn btn-warning">Editar</a>

    <!-- Indicates a dangerous or potentially negative action -->
    <a type="button" href="{% url 'cliente_deletar' %}" class="btn btn-danger">Deletar</a>



    <script src="{% static "modulos/cliente/Cliente.js" %}"></script>

{% endblock %}
